.table-action {
    text-align: center;
    width: 160px;
}

div.modal-body p.modal-message {
    font-size: 18px;
}

button.btn.btn-danger.okay {
    border: solid 1.5px;
}

.sidebar-menu>li {
    white-space: normal;
}

.sidebar-menu>li a i {
    display: table-cell;
    vertical-align: middle;
}

.sidebar-menu>li a span {
    display: table-cell;
}